body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
    color: #4db995;
}

.content {
    width: 100%;
    max-width: 1200px;
    margin: 20px;
    padding: 20px 20px 50px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

.form-group textarea {
    resize: vertical;
}

.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s, opacity 0.3s;
    cursor: pointer;
}

.btn-primary {
    background-color: #d66a35;
    border-color: #d66a35;
}

.btn-primary:hover {
    background-color: #b5562d;
    border-color: #b5562d;
}

.btn-secondary.back-button {
    background-color: #6c757d;
    border-color: #6c757d;
}

.btn-secondary.back-button:hover {
    opacity: 0.9;
}
