header {
    background-color: black;
    padding: 10px 20px;
    width: 100%;
    box-sizing: border-box;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.left-group {
    display: flex;
    align-items: center;
}

.app-name {
    color: #4db995;
    font-size: 24px;
    font-weight: bold;
    margin-right: 20px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.nav-links.left {
    margin-left: 20px;
}

.nav-links.right {
    margin-left: auto;
}

.nav-links a {
    color: #4db995;
    text-decoration: none;
    padding: 5px 10px;
    display: block;
}

.nav-links .dropdown {
    position: relative;
}

.nav-links .dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    min-width: 150px; /* ドロップダウンの幅を調整 */
}

.nav-links .dropdown-content a {
    color: #4db995;
    padding: 10px;
    display: block;
    white-space: nowrap; /* テキストを1行で表示 */
}

.nav-links .dropdown:hover .dropdown-content {
    display: block;
}

.nav-links a:hover {
    background-color: #333;
    color: white;
}

/* app/static/css/header.css */

/* 通知バッジのスタイル */
.notification-badge {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
    margin-left: 5px;
    /* アニメーション効果を追加 */
    animation: bounce 1s infinite;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-5px);
    }
}

.app-name-link {
    text-decoration: none; /* 下線を削除 */
    color: #4db995; /* テキストカラーを設定 */
}

.app-name-link:hover {
    color: #33a283; /* ホバー時のカラー（オプション） */
}