body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
    color: #4db995;
}

.card {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background: white;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
}

form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

form div {
    margin-bottom: 15px;
}

form label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

form input[type="text"],
form input[type="password"],
form input[type="email"] {
    width: calc(100% - 22px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #f9f9f9;
    box-sizing: border-box;
}

form button {
    width: 100%;
    padding: 10px;
    color: #fff;
    background-color: #d66a35;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #b5562d;
}

.button-group a {
    display: inline-block;
    margin: 10px 5px;
    color: #333;
    text-decoration: none;
}

.button-group a:hover {
    text-decoration: underline;
}

#flash-messages {
    max-width: 600px;
    margin: 20px auto;
    padding: 10px;
    background-color: #ffcccc;
    color: #a94442;
    border: 1px solid #ebccd1;
    border-radius: 5px;
    text-align: center;
}
