body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
    color: #4db995; /* 見出しの色を変更 */
}

.completed-history ul {
    list-style: none;
    padding: 0;
}

.completed-history li {
    margin-bottom: 10px;
    padding: 10px;
    background: white;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.completed-history p {
    margin: 5px 0;
}

.button-group {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
    color: #fff;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    text-decoration: none;
    height: 40px; /* 高さを固定 */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px; /* 横幅を固定 */
}

.btn-secondary:hover {
    background-color: #5a6268;
    border-color: #545b62;
}
