body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
    color: #4db995; /* 見出しの色を変更 */
}

.container {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.card {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background: white;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
}

.button-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}

.btn-primary {
    background-color: #d66a35; /* 編集・ログアウトボタンの色を変更 */
    border-color: #d66a35;
    color: #fff;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    text-decoration: none;
    height: 40px; /* 高さを固定 */
    display: flex;
    align-items: center;
    justify-content: center; /* 文字を中央揃え */
    width: 126px;
}

.btn-primary:hover {
    background-color: #bf5a20;
    border-color: #bf5a20;
}

.btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
    color: #fff;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    text-decoration: none;
    height: 40px; /* 高さを固定 */
    display: flex;
    align-items: center;
    justify-content: center; /* 文字を中央揃え */
    width: 100px; /* 横幅を固定 */
}

.btn-secondary:hover {
    background-color: #5a6268;
    border-color: #545b62;
}
