/* static/css/register_site.css */

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
    color: #4db995;
}

.container {
    width: 100%;
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

.form-label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

.form-control {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #f9f9f9;
    box-sizing: border-box;
}

.form-check {
    margin-bottom: 10px;
}

.form-check-input {
    margin-right: 10px;
}

.button-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}

.btn-primary {
    background-color: #d66a35;
    border: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    height: 40px; /* 高さを固定 */
    width: 126px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.btn-primary:hover {
    background-color: #b45628;
}

.btn-secondary {
    background-color: #6c757d;
    border: none;
    color: #fff;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    height: 40px; /* 高さを固定 */
    width: 100px; /* 横幅を固定 */
    text-align: center;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-secondary:hover {
    background-color: #5a6268;
}

#successMessage {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(40, 167, 69, 0.9); /* 成功メッセージの背景色 */
    color: white;
    padding: 20px 30px;
    border-radius: 5px;
    display: none; /* 初期状態は非表示 */
    z-index: 1000;
    text-align: center;
}

.alert-danger {
    color: red; /* 赤文字に設定 */
    font-size: 14px;
    margin-top: 5px;
    font-weight: bold;
}

#addressError {
    color: red;
    font-size: 14px;
    font-weight: bold;
}

/* 追加: d-none クラスの定義 */
.d-none {
    display: none;
}

@media (max-width: 600px) {
    .container {
        padding: 15px;
    }

    .btn-primary, .btn-secondary {
        width: 100%;
        margin-bottom: 10px;
    }

    .button-group {
        flex-direction: column;
        align-items: stretch;
    }
}
