/* register_material.css */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
    color: #4db995;
}

.container {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.card {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background: white;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
}

.content {
    margin-bottom: 20px;
}

.item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.thumb {
    width: 100px;
    height: 100px;
    border-radius: 10px;
}

.details {
    display: flex;
    flex-direction: column;
    padding-left: 15px;
}

.details span {
    color: #333;
}

.details a {
    text-decoration: none;
}

.details a:hover {
    text-decoration: underline;
}

.buttons button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background: #d66a35;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.buttons button:hover {
    background: #b45628;
}

form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

form div {
    margin-bottom: 15px;
}

form label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

form input[type="text"],
form input[type="password"],
form input[type="email"],
form input[type="file"],
form input[type="number"],
form input[type="date"],
form select,
form textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #f9f9f9;
    box-sizing: border-box;
}

.form-size-group {
    display: flex;
    justify-content: space-between;
}

.form-size-group input[type="text"] {
    width: calc(33% - 10px);
}

.form-control {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    width: 100%;
    padding: 10px;
    color: #fff;
    background-color: #d66a35;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #b45628;
}

.btn-primary {
    background-color: #d66a35;
    border-color: #d66a35;
    color: #fff;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, 
                border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    text-decoration: none;
    height: 40px; /* 高さを固定 */
    width: 126px;
}

.btn-primary:hover {
    background-color: #b45628;
    border-color: #b45628;
}

.btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
    color: #fff;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, 
                border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    text-decoration: none;
    height: 40px; /* 高さを固定 */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px; /* 横幅を固定 */
}

.btn-secondary:hover {
    background-color: #5a6268;
    border-color: #545b62;
}

.button-group a {
    display: inline-block;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
    height: 26px; /* 高さを固定 */
}

.button-group a:hover {
    background-color: #333;
}

.dashboard-stats {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.dashboard-stats div {
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.tab-button {
    background-color: #f1f1f1;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    height: 26px; /* 高さを固定 */
}

.tab-button:hover {
    background-color: #ddd;
}

.tab-button.active {
    background-color: #ccc;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

.button-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}

.search-button {
    width: 75%;
    background-color: #333; /* 検索ボタンの色を変更 */
    border-color: #333;
    color: #fff;
    text-decoration: none; /* アンダーラインを削除 */
}

.search-button:hover {
    background-color: #333;
    border-color: #333;
}

.back-button {
    background-color: #6c757d;
    border-color: #6c757d;
    color: #fff;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    font-size: 1rem;
    line-height: 40px;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, 
                border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    text-decoration: none;
    height: 40px; /* 高さを固定 */
    width: 126px;
}

.size-fields {
    display: flex;
    align-items: center;
}

.size-fields .form-control {
    width: 60px;
    margin-right: 5px;
}

/* 修正後の部分 */
.deadline-checkbox-group {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* 左寄せ */
}

.deadline-container {
    /* flex: 1; */ /* 削除 */
    margin-right: 10px; /* チェックボックスとの間隔を調整 */
}

.checkbox-container {
    display: flex;
    align-items: center; /* 縦方向で中央揃え */
}

.checkbox-container input[type="checkbox"] {
    margin-right: 5px; /* チェックボックスとラベルの間に5pxのスペースを追加 */
}

.error-message {
    color: red;
    font-size: 14px;
    font-weight: bold;
}

.alert-danger {
    color: red; /* 赤文字に設定 */
    font-size: 14px;
    margin-top: 5px;
    font-weight: bold;
}


/* モーダルのスタイル */
#cameraModal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
}

#cameraContent {
    background-color: #fefefe;
    margin: 5% auto; /* 5% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 90%; /* Could be more or less, depending on screen size */
    max-width: 600px;
    text-align: center;
    border-radius: 10px;
}

#closeCamera {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

#closeCamera:hover,
#closeCamera:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#cameraStream {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

#captureImageBtn {
    margin-top: 15px;
}

#capturedCanvas {
    display: none;
    margin-top: 15px;
    max-width: 100%;
    border: 1px solid #ccc;
    border-radius: 10px;
}

#imagePreview {
    display: none;
    max-width: 100%;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

/* デバッグ情報のスタイル */
.debug-info {
    margin-top: 30px;
    padding: 10px;
    background-color: #e9ecef;
    border-radius: 5px;
}

.debug-info h3 {
    margin-bottom: 10px;
}

.debug-info pre {
    background-color: #f8f9fa;
    padding: 10px;
    border-radius: 5px;
    overflow-x: auto;
}

/* 追加のスタイルが必要な場合はここに記述 */

/* 例: 材質タイプに応じたフィールドの表示調整 */
#wood_type_group, #board_material_type_group, #panel_type_group {
    transition: all 0.3s ease-in-out;
}

/* レスポンシブ対応 */
@media (max-width: 768px) {
    #cameraContent {
        width: 95%;
    }
    
    .form-size-group input[type="text"] {
        width: 30%;
    }
    
    .buttons button {
        width: 100%;
    }
    
    .button-group {
        flex-direction: column;
        align-items: stretch;
    }
    
    .button-group a {
        width: 100%;
        margin: 5px 0;
    }
}

/* Success Modal Styles */
#successModal {
    position: fixed;
    z-index: 1200; /* 他のモーダルより上に表示 */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0,0,0,0.5);
    display: none; /* 初期は非表示 */
}

#successContent {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    max-width: 400px;
    text-align: center;
    position: relative;
    border-radius: 8px;
}

#closeSuccessModal {
    color: #aaa;
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

#closeSuccessModal:hover,
#closeSuccessModal:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
