body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
    color: #4db995;
}

.flashes {
    list-style-type: none;
    padding: 0;
    margin: 20px auto;
    max-width: 600px;
}

.flashes li {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.flashes li.success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}

.flashes li.danger {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}

.flashes li.warning {
    background-color: #fff3cd;
    color: #856404;
    border: 1px solid #ffeeba;
}

.flashes li.info {
    background-color: #d1ecf1;
    color: #0c5460;
    border: 1px solid #bee5eb;
}

.container {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

form div {
    margin-bottom: 15px;
}

form label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

form input[type="text"],
form input[type="password"],
form input[type="email"],
form input[type="file"],
form input[type="number"],
form input[type="date"],
form select,
form textarea {
    width: calc(100% - 22px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #f9f9f9;
    box-sizing: border-box;
}

form button {
    width: 100%;
    padding: 10px;
    color: #fff;
    background-color: #d66a35;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #b5562d;
}

.error-message {
    color: red;
    display: block; /* 追加 */
    margin-top: 5px; /* 追加 */
}

.trading-desk-group {
    display: flex;
    align-items: center;
}

.trading-desk-group label {
    margin-left: 10px; /* Adjusted for checkbox preceding the label */
    flex: 1;
}

.back-button {
    width: 100px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #6c757d;
    border-color: #6c757d;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.back-button:hover {
    background-color: #5a6268;
    border-color: #545b62;
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1000; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.5); 
}

.modal-content {
    background-color: #fefefe;
    margin: 10% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
    max-height: 80%;
    overflow-y: auto;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
}

.warning-message {
    color: red;
    display: none;
}

/* モーダル内のボタンスタイル調整 */
.modal-content button {
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #4db995;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.modal-content button:hover {
    background-color: #3fa07f;
}

/* トレーディングデスクのスタイル調整 */
.trading-desk-group label {
    flex: 1;
    margin-left: 10px; /* Ensures spacing between checkbox and label */
}


/* フォーム全体のレスポンシブ対応 */
@media (max-width: 600px) {
    form {
        padding: 15px;
    }

    .modal-content {
        width: 90%;
    }

    .back-button {
        width: 80px;
        height: 35px;
    }
}
