body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
    color: #4db995; /* 見出しの色 */
}

h2 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #333; /* h2を黒文字に変更 */
    text-align: left; /* h2を左揃えに */
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.box {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 枠に影を追加 */
}

section {
    margin-bottom: 20px;
}

select, input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: #fff;
    text-align: left; /* 左揃えに設定 */
}

button {
    background-color: #d66a35; /* ボタンの色 */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 5px;
    text-align: left; /* ボタンのテキストを左揃えに */
}

button:hover {
    background-color: #b45628; /* ボタンホバー時の色 */
}

.button-group {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    justify-content: flex-start; /* ボタンのグループを左揃えに */
}

#favorite-message {
    background-color: #dff0d8;
    color: #3c763d;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    text-align: center;
}

.back-button {
    display: inline-block;
    background-color: #6c757d; /* 戻るボタンの色 */
    color: white;
    padding: 10px 20px;
    width: 100px;
    height: 26px; /* ボタンの高さ */
    line-height: 26px;
    border-radius: 5px;
    text-align: center; /* ボタン内のテキストを中央揃え */
    text-decoration: none;
    margin-left: 0; /* ボタン自体は左揃え */
}

.back-button:hover {
    background-color: #5a6268; /* 戻るボタンホバー時の色 */
}

@media (max-width: 600px) {
    h1, h2 {
        font-size: 18px;
    }

    button {
        width: 100%;
    }

    .button-group {
        flex-direction: column;
    }
}
