body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
    color: #333;
}

.container {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.card {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background: white;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
}

.content {
    margin-bottom: 20px;
}

.item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.thumb {
    width: 100px;
    height: 100px;
    border-radius: 10px;
}

.details {
    display: flex;
    flex-direction: column;
    padding-left: 15px;
}

.details span {
    color: #333;
}

.details a {
    color: #333;
    text-decoration: none;
}

.details a:hover {
    text-decoration: underline;
}

.buttons button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.buttons button:hover {
    background: #333;
}

form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

form div {
    margin-bottom: 15px;
}

form label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

form input[type="text"],
form input[type="password"],
form input[type="email"],
form input[type="file"],
form input[type="number"],
form input[type="date"],
form select,
form textarea {
    width: calc(100% - 22px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #f9f9f9;
    box-sizing: border-box;
}

.form-size-group {
    display: flex;
    justify-content: space-between;
}

.form-size-group input[type="text"] {
    width: calc(33% - 10px);
}

.form-control {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    width: 100%;
    padding: 10px;
    color: #fff;
    background-color: #333;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #005bb5;
}

.btn-primary {
    background-color: #333;
    border-color: #333;
    color: #fff;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    text-decoration: none;
    height: 26px; /* 高さを固定 */
}

.btn-primary:hover {
    background-color: #333;
    border-color: #333;
}

.btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
    color: #fff;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    text-decoration: none;
    height: 26px; /* 高さを固定 */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px; /* 横幅を固定 */
}

.btn-secondary:hover {
    background-color: #5a6268;
    border-color: #545b62;
}

.button-group a {
    display: inline-block;
    margin: 10px 5px;
    padding: 10px 20px;
    color: #fff;
    background-color: #333;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
    height: 26px; /* 高さを固定 */
}

.button-group a:hover {
    background-color: #333;
}

.dashboard-stats {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.dashboard-stats div {
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.tab-button {
    background-color: #f1f1f1;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    height: 26px; /* 高さを固定 */
}

.tab-button:hover {
    background-color: #ddd;
}

.tab-button.active {
    background-color: #ccc;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

.button-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}

.search-button {
    width: 75%;
    background-color: #333; /* 検索ボタンの色を変更 */
    border-color: #333;
    color: #fff;
    text-decoration: none; /* アンダーラインを削除 */
    height: 26px; /* 高さを固定 */
}

.search-button:hover {
    background-color: #333;
    border-color: #333;
}

.back-button {
    width: 100px; /* 横幅を固定 */
    height: 26px; /* 高さを固定 */
    display: flex;
    align-items: center;
    justify-content: center;
}

.size-fields {
    display: flex;
    align-items: center;
}

.size-fields .form-control {
    width: 60px;
    margin-right: 5px;
}
