<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>利用規約 - はざいっぽ</title>
</head>
<body>
    <div class="container">
<pre>利用規約

 この利用規約（以下「本規約」といいます。）は、ZAI株式会社（以下「弊社」といいます。）が運営するインターネットサービス「はざいっぽ」において、弊社が提供する各種サービス（以下「本サービス」といいます。）の利用の諸条件を定めるものとなります。
 本サービスの利用に際しては、本規約の全文をお読みいただいたうえで、本規約に同意いただく必要があります。 

第 1 条(適用)
 本規約は、本サービスの提供条件及び本サービスの利用に関する弊社とユーザーとの間の権利義務関係を定めることを目的とし、ユーザーと弊社との間の本サービスの利用に関わる一切の関係に適用されます。
 弊社が本サービス上で掲載する本サービス利用に関するルール等も、本規約の一部を構成するものとします。
 本規約の内容と、前項のルール等その他の本規約外における弊社による本サービスの説明等の内容とが異なる場合は、本規約の規定が優先して適用されるものとします。

第 2 条 定義
定義
 本利用規約において、以下の用語は、別途定義されている場合及び文脈上別異に解すべき場合を除き、以下の意味を有するものとします。
 (1)「受領者」とは、本サービスにて提供品を受け取るユーザーをいいます。
 (2)「個人情報」とは、個人情報の保護に関する法律（平成 15 年法律第 57 号。その後の改正を含みます。）に定める「個人情報」を指すものとし、ユーザーが入力した氏名、郵便番号、住所、生年月日、性別、電話番号、アカウント情報（電子メールアドレス、パスワード等をいいます。）、プロフィール情報（ニックネーム、年齢、居住エリアその他の個人に関する属性情報をいいます。）、クレジットカード情報、利用履歴等で、かつ特定の個人を識別できる情報（他の情報と容易に照合することができ、それにより特定の個人を識別することとなるものを含みます。）をいいます。
 (3)「提供品」とは、弊社又はユーザーが本サービスに掲載・発信した情報をいいます。
 (4)「掲載」とは、ユーザーが、本サービスにて、提供品の取引に必要な提供品を掲載・発信し、他のユーザーが閲覧可能かつユーザーが提供品の情報をマッチングできる状態にすることをいいます。
 (5)「提供者」とは、本サービスを通じて提供品を掲載するユーザーをいいます。
 (6)「プライバシーポリシー」とは、弊社が定めるプライバシーポリシー（名称の如何を問わないものとします。）をいいます。
 (7)「マッチング」とは、提供者が掲載した提供品の情報に対して受領者が掲載されている提供品の情報を元に、提供品を受け取る意思を持って連絡をし、提供者が承諾ののちに提供品の受け渡しが確実に該当者同志で完了した状態をいいます。
 (8)「ユーザー」とは、本規約の内容に同意して、日本国内において本サービスを利用する日本在住の個人及び弊社が指定した法人を指します。
 (9)「利用料」とは、本サービスの利用に関連して、弊社がユーザーから徴収する料金（システム維持管理費用、アプリ運営必要費用その他名称の如何を問わないものとします。）をいいます。

第 3 条 本サービスの内容
 １、本サービスは、オンライン端材マッチングサービスです。
 ２、本サービスにおける譲渡契約はユーザー間に成立し、その権利及び義務はユーザーに帰属するものとします.
 ３、その他の本サービスの内容は、本利用規約に規定する通りとします.

第 4 条 本サービスにおける弊社の役割
 第３条におけるサービスの内容の範疇となり、以下の責任・責務を追わないものとします.
 １、提供者及び受領者の間で提供品等に関してトラブルが発生した場合は当該ユーザー間で解決するものとします.
 ２、譲渡契約が終了した提供品において、受領者が不法投棄を行い法令違反による罰則などを受ける場合弊社は一切関与いたしません.
 ３、ユーザー間で金銭の授与が発生したことにより、古物営業法および廃棄物処理法などの法令違反による罰則などを受ける場合弊社は一切関与いたしません.
 ４、ユーザー間の物品交換の場・機会を提供するもので、ユーザー間の掲載、交換等の保証等に関しては、すべて当事者であるユーザーの自己責任とし、弊社が自ら交換を行うものではなく、交換の委託を受けるものでもありません.
 ５、弊社は、本規約中に別段の定めがある場合を除き、交換の合意における取消し、解約、解除、返品、保証など取引の遂行には一切関与しません. また、本サービスは、競りの方法（オークション）により物品の売買を行おうとする者のあっせんを行うものではありません.

第 5 条 本規約への同意及び本規約の変更
 本規約への同意及び適用
  本規約は、本サービスの利用に関する条件をユーザーと弊社との間で定めることを目的とし、ユーザーと弊社との間の本サービスの利用に関わる一切の関係に適用されます. ユーザーは、本規約に同意をしたうえで、本規約の定めに従って本サービスを利用するものとし、ユーザーは、本サービスを利用することにより本規約に同意をしたものとみなされます.
 未成年者の場合
  ユーザーが未成年者である場合は、事前に親権者など法定代理人の包括的な同意を得たうえで本サービスを利用しなければなりません. ユーザーが未成年者である場合は、法定代理人の同意の有無に関して、弊社からユーザー又は法定代理人に対し、確認の連絡をする場合があります.
 本規約の変更
  弊社は、必要に応じ、弊社が運営するウェブサイト又はアプリケーション内の適宜の場所への掲示をすることにより、本規約の内容を随時変更できるものとします. 本規約の変更後に、ユーザーが本サービスを利用した場合には、ユーザーは、本規約の変更に同意をしたものとみなされます. なお、本規約の変更に同意しないユーザーは、本サービスの利用を停止してください. 弊社は、本規約の改定又は変更によりユーザーに生じたすべての損害について、弊社の故意又は過失に起因する場合を除き、責任を負わないものとします.

第 6 条 ユーザー登録及びアカウント情報
 登録
  ユーザー登録は、必ず本人が行います. また、ユーザー登録の際は、必ず正確な情報を入力してください.
 複数登録の制限
  個人のユーザー及びユーザー登録をされようとする方（以下併せて「ユーザー等」といいます）は、複数のユーザー登録を行うことができないものとします.  ただし、法人登録ユーザーの従業員で利用している場合は、個人登録利用のユーザーとして重複しての利用はできるものとします.
 登録拒否
  弊社は、ユーザー登録をされようとする方が以下各号のいずれかに該当する場合、ユーザー登録の申請を承認しないことがあります.
  (1)第 5 条第 2 項及び本条第 2 項のユーザー資格を満たしていない場合
  (2)過去に本規約違反等により、弊社から利用停止等の処分を受けている場合
  (3)登録内容に正確ではない情報又は虚偽の情報が含まれている場合
  (4)弊社の運営、サービス提供若しくは他のユーザーの利用を妨害する又はそれらに支障をきたす 行為を行った場合やそのおそれがあると当方が合理的な理由に基づき判断した場合
  (5)暴力団、暴力団員、暴力団員でなくなったときから 5 年を経過しない者、暴力団準構成員、暴力団関係企業、総会屋等、社会運動等標ぼうゴロ若しくは特殊知能暴力集団、その他これらに 準ずる者（以下これらを「暴力団員等」といいます。）が判明した場合
  (6)外国 PEPs 等に該当する又はそのおそれがあると弊社が合理的な理由に基づき判断する場合
  (7)その他弊社が不適当であると合理的な理由に基づき判断する場合
 4. ユーザー等の確約
  ユーザー等は、反社会的勢力のいずれにも該当しないこと、かつ将来にわたっても該当しないこと、及び、自ら又は第三者を利用して、暴力的な要求行為、法的な責任を超えた不当な要求行為、取引に関して脅迫的な言動をする又は暴力を用いる行為、風説を流布し、偽計を用い若しくは威力を用いて弊社の信用を毀損し又は弊社の業務を妨害する行為、その他これらに準ずる行為を行わないことを確約するものとします.
 5. 登録内容の変更
  ユーザーは、登録内容に変更がある場合は、直ちに変更しなければならず、常にユーザー自身の正確な情報が登録されているように登録内容を管理及び修正する責任を負います. 登録内容に変更があったにも関わらず、変更を行っていない場合、弊社は、登録内容に変更がないものとして取り扱うことができます. 変更の届出があった場合でも、変更登録前に行われた取引や各種手続きは、変更前の情報に依拠する場合があります.
 6. アカウント情報の管理
  ユーザーは、入力したメールアドレス、パスワード等の情報（以下「アカウント情報」といいます。）を自ら管理する責任を負います. ユーザーは、アカウント情報を第三者に利用させることや、譲渡、売買、質入、貸与、賃貸その他形態を問わず処分することはできません.
 7. アカウント情報の不正利用等
  アカウント情報の管理不十分による情報の漏洩、使用上の過誤、第三者の使用、不正アクセス等による損害の責任はユーザーが負うものとし、弊社の故意又は過失に起因する場合を除き、弊社は責任を負わないものとします. また、アカウント情報が不正に利用されたことにより弊社に損害が生じた場合、ユーザーは当該損害を賠償するものとします.
 8. アカウント情報の漏えい
  ユーザーは、アカウント情報が第三者に漏えいした場合又はそのおそれがある場合、速やかに弊社まで連絡するものとします. また、その際に弊社の指示がある場合にはこれに従うものとします.

第 7 条 ユーザー登録の取消等
 ユーザー登録の取消・利用停止等
  弊社は、ユーザーが以下の各号のいずれかに該当した場合又は該当したと弊社が合理的な理由に基づき判断した場合、事前の通知なしに、ユーザー登録の取消、本サービスの全部若しくは一部へのアクセスの拒否、利用停止等、又は、ユーザーに関連する提供品や情報の全部若しくは一部の削除の措置をとることができるものとし、弊社は、その理由を説明する義務を負わないものとします. なお、弊社は、ユーザーが以下の各号のいずれにも該当しないことを確認するために、弊社が必要と判断する本人確認を行うことができ、かかる本人確認が完了するまで本サービスの全部又は一部へのアクセスの拒否、利用停止等の措置をとることができます.
  (1)法令又は本規約に違反した場合
  (2)不正行為があった場合
  (3)登録した情報が虚偽の情報であると弊社が判断した場合
  (4)本規約上必要となる手続又は弊社への連絡を行わなかった場合
  (5)登録した情報が既存の登録と重複している場合
  (6)登録した携帯電話番号又はメールアドレスが不通になったことが判明した場合
  (7)ユーザーが債務超過、無資力、支払停止又は支払不能の状態に陥った場合
  (8)他のユーザーや第三者に不当に迷惑をかけた場合
  (9)ユーザーが登録した金融機関の口座に関し違法、不適切その他の問題があることが当該金融機関による指摘等により判明した場合 (9)第 6 条第 3 項各号のいずれかに該当する場合
  (10)ユーザーが自ら又は第三者をして、暴力的な要求行為、法的な責任を超えた不当な要求行為、脅迫的な言動若しくは暴力を用いる行為、又は風評を流布し、偽計を用い若しくは威力を用いて、信用を毀損若しくは業務を妨害する行為をした場合
  (11)その他弊社がユーザーに相応しくないと判断した場合
  2. サービスの利用禁止等
  弊社は、本条の措置を受けたユーザーに対し、将来にわたって弊社が提供するサービスの利用及びアクセスを禁止することができるものとします.
  3. 弊社の免責 弊社は、本条の措置により生じる損害について、弊社の故意又は過失に起因する場合を除き、責任を負わないものとします.

第 8 条 個人ユーザーおよび法人ユーザーの退会
 個人ユーザーの退会手続
  ユーザーは、弊社に退会を希望する旨を申し出ることができ、弊社の判断により認められた場合には退会することができます. 但し、提供品の交換等の取引の手続が未完のものがある場合は退会することができず、ユーザーは、一連の未完の取引を本規約に従って遅滞なく円滑に進め、完了させた後、弊社に退会の申し出を行わなければなりません.
 法人ユーザーの退会手続
  法人ユーザーの場合は別途、利用契約書に基づき解約書の記載事項の退会方法に則って退会が行われるものとします.
 弊社の免責
  弊社は、本条の措置により生じる損害について、弊社の故意又は過失に起因する場合を除き、責任を負わないものとします.

第 9 条 個人情報等の取扱い
 プライバシーポリシー
  弊社は、本規約のほか、プライバシーポリシーに従って個人情報等を取り扱います.
 プライバシーポリシーへの同意
  ユーザーは、本サービスの利用又は本サービスの閲覧の前に、本サービス上で、プライバシーポリシーを必ず確認し、その内容に同意した上で、本サービスを利用するものとします.
 ユーザーによる利用
  ユーザーは、本サービスを通じて得た個人情報等に関し、本サービスの利用の範囲内においてのみ利用することができ、それ以外の利用はできないものとします.

第 10 条 禁止事項
  弊社は、本サービスに接したユーザー及び第三者の、ガイドの禁止されている行為に該当すると弊社が合理的な理由に基づき判断する行為（以下「禁止事項」といいます。）を禁止します.

第 11 条 提供品の掲載
 掲載手続等
  提供者は、弊社所定の手続きに従い提供品の掲載を行うものとします. 提供者は、本規約の定めに従って本サービスを利用するものとします.  当社は、ガイド記載の特定の掲載方法について基準を設け、審査を行い、提供者が基準に合致しない場合には、当該掲載方法の利用を制限することができます.
 掲載禁止提供品
  提供者はガイドの禁止されている掲載物（以下「掲載禁止物」といいます。）に記載された提供品の掲載ができないことについて、予め了承します. 掲載禁止物に該当する提供品を掲載した場合は、提供者の故意又は過失に関わらず、本規約違反行為とみなされます.
 提供品説明等
  ユーザーは、提供品を掲載する際に、真に譲渡する意思のない掲載、その提供品情報だけでは正しく提供品を理解できない又は混乱する可能性のある掲載、提供品説明で十分な説明を行わない掲載等を行ってはなりません. また、提供者は、掲載する提供品と関係のない画像等を当該掲載情報として扱ってはいけません.
 法令遵守
  ユーザーは、掲載にあたっては、特定商取引に関する法律、不当景品類及び不当表示防止法、不正競争防止法、商標法、著作権法その他の法令を遵守しなければなりません.
 特定ユーザーへの譲渡を意図した掲載
  ユーザーは、特定条件に則った場合を除いて、他の特定のユーザーのみを対象とする譲渡を意図して提供品を掲載することができません. 弊社は、その裁量により、掲載の条件その他の状況から、ある提供品の掲載が他の特定のユーザーのみを対象とする譲渡を意図するものであるか否かを判断することができるものとします.
 掲載に関する本規約違反
  掲載に関して、弊社が本規約又は加盟店規約に違反する又は不適切であると合理的な理由に基づき判断した場合、弊社は、第 7 条に定める措置のほか、その掲載やその掲載に対して発生していた譲渡行為等を弊社の判断で取消すことができるものとします. 本項に基づく措置によってユーザーに生じる損害について、弊社の故意又は過失に起因する場合を除き、弊社は責任を負わないものとします.
 弊社の免責
  ユーザーの掲載等によって、ユーザー及び第三者に生じる損害につき、弊社の故意又は過失に起因する場合を除き、弊社は責任を負わないものとします.

第 12 条 提供品の受領
 受領手続
   ユーザーは、弊社の定める手続きにより受領の意思をもって、注文を行うものとします.
 受領意思等
   ユーザーは、受領する意思のない取引申込等、弊社の判断でいたずら目的と見受けられる取引申込を行うことはできません.
 必要データ
   弊社が定める取引開始可能な時間内に、弊社の管理するサーバーに提供品に関するデータ、受領意思のアクションデータなどの弊社所定のデータの到達が確認できなかった場合、取引は無効になるものとし、ユーザーは予めこれを承諾するものとします.
 自らの掲載物の受領禁止等
   提供者は、自らの掲載物を受領することはできません. 掲載を取り下げたい場合は、ユーザーは、弊社が定める所定の手続きに従って行うものとします.
 弊社の免責
   ユーザーの注文、譲渡等によって、ユーザー及び第三者に生じる損害につき、弊社の故意又は過失に起因する場合を除き、弊社は責任を負わないものとします.

第 13 条 取引の実行
 譲渡契約の成立
   受領者が掲載された特定の提供品を提供者から直接受領を完了手続をした時をもって当該提供品の譲渡契約が成立するものとします. 提供者及び受領者は、譲渡契約に基づき発生した権利義務を第三者に譲渡、担保提供その他の処分をすることはできないものとします.
 提供品等に関するトラブル
   提供者及び受領者の間で提供品等に関してトラブルが発生した場合は当該ユーザー間で解決するものとします. 但し、弊社の判断により、弊社も協議に入ることができるものとします.
 キャンセル及び提供品の瑕疵
   本サービスの利用にあたり、提供者及び受領者間の合意がある場合を除き、提供品の注文後のキャンセルはできないものとします. 提供品に瑕疵がある場合、提供品説明と実際の提供品が明らかに異なる場合、提供者が責任を負うものとし、提供者の責任及び費用により、提供品の返品、修理、交換等の対応を行うものとします.

第 14 条 弊社による譲渡契約の取消
 1. 譲渡契約が成立した場合においても、弊社は、以下の各号のいずれかに該当する場合又は該当したと弊社が合理的な理由に基づき判断した場合、当該譲渡契約を取り消すことができるものとします.
  (1) 提供者が提供品を受け渡ししない場合
  (2)その他弊社が本サービスの適切な運営のために必要と認める場合 
 2. 前項により当該譲渡契約が取り消された場合には、受領者及び提供者は、既に受領した提供品を受領者の責任をもって返還するなど、譲渡契約前の原状に復する一切の行為を行うものとします.

第 15 条 利用料金
 個人ユーザーの利用料金
  法人に属さない個人ユーザーは本サービスへの登録および使用料は無料となります.
 一人親方及び個人事業主の利用料金
  事業を行う個人事業主であり、従業員を有さない一人親方の場合は、本サービスへの登録および使用料は無料とします.
 法人ユーザーの利用料金無料期間
  事業を行う法人が本サービスを利用する場合、本サービスに登録後、登録日を含む90日間の使用料は無料とします.
 法人ユーザー無料期間終了後の利用料金
  法人ユーザーは、無料期間の90日後、引き続き本サービスを利用する場合は、別途弊社の規定にて算出した月額利用料の金額を定めた利用契約書を締結することにより利用の継続を可能とします. 利用金額の請求は月締め翌月払いとし、１ヶ月に満たない金額利用金額は日割り計算で請求するものとします.
 不払・支払遅延等
  ユーザーが本規約に従って必要な支払いを行わない場合又は遅延した場合には、当該ユーザーに通知することなく、当該ユーザーによる本サービスの利用を停止することができるものとします. 未払いの支払債務が存在している場合、弊社は、未払いの支払債務の回収を第三者に委託することができるものとします.

第 16 条 弊社による提供品の掲載・譲渡等
 1.弊社は、本サービスにおいて、提供品の掲載を行う場合があります. なお、その場合も、本サービスがユーザー間の物品の交換の場・機会を提供するオンライン端材マッチングサービスであるとの性質には何ら影響を及ぼしません.
 2.弊社が掲載した提供品を受領者が受領した場合であっても、システムトラブル、欠品、配送事故その他の事情により、提供品を納品できない場合がある. その場合、弊社は、弊社の裁量により、当該提供品にかかる受領者との譲渡契約を解除することができるものとし、弊社が適切と認める措置をとるものとします.
 3.弊社が掲載した提供品への受領意思を示したした受領者は、弊社が債務不履行の場合（提供品に瑕疵がある場合又は品違いの場合を含む。）又は弊社の故意又は過失に起因する場合を除き、譲渡のキャンセル及び提供品の返品を行うことはできないものとします.
 4.弊社が掲載した提供品を受領した受領者は、提供品に瑕疵がある場合又は品違いの場合は、弊社が定める所定の方法により弊社に連絡するものとします. この場合には、受領者は、提供品の返送方法等について弊社の指示に従うものとし、弊社は、提供品交換その他の弊社が適切と認める措置をとるものとします.
 5.受領者は、弊社が掲載した提供品を受領した場合、本規約に従い、受領者が行うべきとされている行為を行うものとします. 但し、弊社が本サービスにおいて提供品の掲載又は譲渡を行う場合には、本規約の第 12 条第 5 項の規定は適用されないものとします.

第 17 条 弊社による提供品の授受
  弊社が本サービスにおいて提供品の譲渡を行う場合、弊社は、ユーザー同様の手続きに従い提供品の譲渡を行います. 前項に定める場合において、弊社は、譲渡契約の解除又は前項に基づく措置により受領者又は第三者に生じた損害に関して、弊社の故意又は過失に起因する場合を除き、責任を負わないものとします. 前項に定める場合において、弊社が損害を被った場合には、受領者は当該損害を賠償するものとします.

第 18 条 他のサービスへの遷移
  ユーザーが本サービスを利用するにあたり、本サービスから、弊社グループ又は第三者が運営する他のサービス（以下「外部サービス」といいます。）に遷移する場合があります. ユーザーは、予めこれに同意するものとし、本規約及び外部サービスの利用規約等を遵守して、本サービス及び外部サービスを利用するものとします. なお、弊社は、外部サービスについて保証しません.

第 19 条 本サービスの中断・終了及び変更
 本サービスの中断
  弊社は、以下の各号のいずれかに該当する場合には、ユーザーに事前に通知することなく一時的に本サービスの全部又は一部を中断する事ができるものとします.
  (1)サーバー、通信回線、その他の設備の故障、障害の発生又はその他の理由により本サービスの提供ができなくなった場合
  (2)定期的な又は緊急のシステム（サーバー、通信回線や電源、それらを収容する建築物などを含む）の保守、点検、修理、変更を行う場合
  (3)火災、停電等により本サービスの提供ができなくなった場合
  (4)地震、噴火、洪水、津波等の天災により本サービスの提供ができなくなった場合
  (5)戦争、変乱、暴動、騒乱、労働争議等その他不可抗力により本サービスの提供ができなくなった場合
  (6)法令又はこれに基づく措置により本サービスの提供ができなくなった場合
  (7)その他運用上又は技術上、弊社が必要と判断した場合
 2. 本サービスの終了及び変更
  弊社は、適用法令に定める手続に従うことにより、任意の理由により、本サービスの全部又は一部を終了及び変更できるものとします. 本サービスを終了する場合においては、弊社が適当と判断する方法で、可能な限り事前にユーザーにその旨を通知し、または公表するものとします.

第 20 条 知的財産権及びコンテンツ
 知的財産権等の帰属
  本サービスを構成するすべての素材に関する権利は、弊社又は当該権利を有する第三者に帰属します. ユーザーは、本サービスのすべての素材に関して、一切の権利を取得することはないものとし、権利者の許可なく、所有権、著作権を含む一切の知的財産権、肖像権、パブリシティー権等、コンテンツ素材に関する権利を侵害する一切の行為をしてはならないものとします. 本規約に基づく本サービスの利用の許諾は、本サービスに関する弊社又は当該権利を有する第三者の権利の使用許諾を意味するものではありあせん.
 弊社による利用
  提供者により投稿された掲載物の写真、動画、情報等に関しては、本サービスの宣伝、運営、研究開発及び発表等を目的として、弊社及び弊社の指定する者が自由に利用できるものとします.
 提供品に関する責任
  ユーザー等が本サービスに関連して発信又は掲載した提供品に関する一切の責任は、当該ユーザー等が負うものとし、弊社は、その内容、品質、正確性、信憑性、適法性、最新性、有用性等について、確認しません. また、弊社は、それらに関して保証しないものとします.
 提供品の内容等
  ユーザー等は、他のユーザー等が発信又は掲載する提供品について、その内容、品質、正確性、信憑性、適法性、最新性、有用性等を、ユーザー等自身で判断する必要があります. 弊社は、ユーザー等及び第三者が弊社の提供品を利用することにより生じる損害について、弊社の故意又は過失に起因する場合を除き、責任を負わないものとします.
 バックアップ
  弊社は提供品のバックアップを行う義務を負わないものとします. ユーザーは、提供品のバックアップが必要な場合には、自己の費用と責任でこれを行うものとします.
 提供品の変更及び削除
  弊社は、ユーザーが本規約に違反又は本規約の精神に照らして不適切な行為を行ったと弊社が判断した場合、当該ユーザーが掲載したあらゆる提供品を、事前の通知なしに変更及び削除できるものとします.

第 21 条 ユーザーの責任及び接続環境等
 必要な機器の準備等
  本サービスの提供を受けるために必要なコンピューター、スマートフォンその他の機器、ソフトウェア、通信回線その他の通信環境等は、ユーザーの費用と責任において準備し維持するものとします. また、その機器、ソフトウェア、通信環境等の設置や操作についても、ユーザーの費用と責任で行っていただく必要があります. 弊社は、本サービスがあらゆる機器等に適合することを保証するものではなく、機器等の準備、設置、操作に関して、一切関与せず、ユーザーに対するサポートも行いません.
 ネットワークの経由等
  ユーザーは、本サービスを利用する際に、種々のネットワークを経由する場合があることを理解し、接続しているネットワークや機器等によっては、それらに接続、またはそれらを通過するために、データや信号等の内容が変更される可能性があることを理解したうえで、本サービスを利用するものとします.
 手続きの成立
  ユーザーがインターネット回線を通じて行う本サービスへの入力、掲載、退会、その他の手続きは、弊社のサーバーに当該手続きに関するデータが送信され、弊社のシステムに当該手続きの内容が反映された時点をもって有効に成立するものとします.
 トラブルの解決
  本サービスに関連してユーザー間又はユーザーと第三者間で発生したトラブル（本サービスを将来利用するという前提の下で起こったトラブルを含みます。）に関して、ユーザーは各自の費用及び責任で解決するものとします. トラブルが生じた際には、当事者間で解決するものとし、当該トラブルにより弊社が損害を被った場合は、当事者は連帯して当該損害を賠償するものとします.
 第三者との紛争解決
  ユーザーと第三者との間で、本サービスに関連して、裁判、クレーム、請求等のあらゆるトラブルを含む紛争が生じた場合、ユーザー各自の責任や費用で解決するものとし、弊社は、当該紛争に一切関与しません. 当該紛争がユーザーの故意又は過失に起因して生じた場合には、ユーザーは、当該紛争により弊社に生じた損害を連帯して賠償するものとします.
 費用の負担
  弊社とユーザー間で紛争が生じた場合において、当該紛争がユーザーの故意又は過失に起因して生じた場合には、ユーザーは当該紛争に関連して弊社に発生した損害を賠償するものとします.

第 22 条 非保証及び免責
 内容等に関する非保証
  弊社は、本サービスの内容、品質及び水準並びに本サービスの安定的な提供、本サービスの利用に伴う結果等については、保証しません.
 弊社の免責
  本サービス提供における、不正確、不適切又は不明瞭な内容、表現、行為等により、ユーザー及び第三者に対して損害が生じた場合、弊社の故意又は過失に起因する場合を除き、弊社は、当該損害について責任を負わないものとします.
 情報提供に関する非保証
  弊社は、本サービスに関連して、ユーザー等に対して、適宜情報提供を行うことがありますが、当該情報の正確性や有用性を保証するものではありません.
 コンピュータウィルス等に関する非保証
  本サービスに関連するコンテンツの中に、コンピュータウィルス等有害なものが含まれていないことに関して、保証しません. 弊社は、本サービスに関連するコンテンツの中に、コンピュータウィルス等有害なものが含まれていたことにより生じた損害について、ユーザー及び第三者に対して、弊社の故意又は過失に起因する場合を除き、責任を負わないものとします.

第 23 条 損害賠償
 ユーザーの責任
  ユーザーが本規約に違反した場合、当該ユーザーが、当該違反により損害を受けたユーザー及び第三者に対する損害賠償責任を含む、一切の責任を負うものとします. ユーザーがかかる違反行為を行ったことにより、弊社が損害を被った場合は、当該ユーザーその他関連当事者は連帯して当該損害を賠償するものとします.
 弊社の免責
  弊社は、弊社による本サービスの提供の停止、終了又は変更、ユーザー登録の取消、提供品の削除又は消失､本サービスの利用によるデータの消失又は機器の故障その他本サービスに関連してユーザーが被った損害につき、弊社の故意又は過失に起因する場合を除き、賠償する責任を負わないものとします.
 弊社の責任の範囲
  弊社がユーザーに対して損害賠償責任を負う場合においても、弊社の責任は、弊社の債務不履行又は不法行為によりユーザーに生じた損害のうち現実に発生した直接かつ通常の損害に限るものとします. 但し、弊社の故意又は重過失に起因する場合を除きます.

第 24 条 合意管轄
 本サービスに関する一切の紛争については、名古屋地方裁判所又は名古屋高騰裁判所をもって第一審の専属的合意管轄裁判所とする.

第 25 条 一般条項
 通知
  本サービスに関する弊社からユーザーへの通知又は連絡は、弊社が運営するウェブサイト又はアプリケーション内の適宜の場所への掲示その他、弊社が適当と判断する方法により行なうものとします.
  弊社は、個々のユーザーに通知及び連絡をする必要があると判断した際、登録された電子メールアドレス、住所又は電話番号に対し、メッセージング機能、電子メール、郵便、電話等を用いて通知及び連絡を行うことがあります.
  ユーザーが弊社に通知、連絡又は問い合わせをする必要が生じた場合、本サービスのお問い合わせフォームを利用するものとし、電話や来訪を行うことはできないものとします.
  弊社は、かかる連絡又は問い合わせがあった場合、弊社が定める方法により、ユーザーの本人確認を行うことができるものとします. また、問い合わせに対する回答方法に関しては、弊社が適切と考える回答方法を利用することができるものとし、その回答方法をユーザーが決めることはできないものとします.
 2. 譲渡禁止
  ユーザーは、弊社の書面による事前の承諾なく、本規約に基づく契約上の地位又は本規約に基づく権利若しくは義務につき、第三者に対し、譲渡、移転、担保設定、貸与、その他の処分をすることはできません.
 3. 事業譲渡
  弊社が本サービスに係る事業を第三者に譲渡する場合（事業譲渡、その他本サービスの主体が移転する一切の場合を含みます。）には、弊社は、当該事業の譲渡に伴い、ユーザーの本規約に基づく契約上の地位、本規約に基づく権利義務及びユーザー登録に伴い登録された情報その他の情報を当該事業の譲受人に譲渡することができるものとし、ユーザーは、かかる譲渡につき予め承諾するものとします.
 分離可能性
  本規約のいずれかの条項又はその一部が、法令等により無効と判断された場合であっても、当該無効とされた以外の部分は、継続して有効に存続するものとします.
 定めのない事項等
  本規約に定めのない事項又は本規約の解釈に疑義が生じた場合には、弊社及びユーザーは、信義誠実の原則に従って協議の上速やかに解決を図るものとします.
 言語
  本規約は、日本語を正文とします. 本規約につき、参考のために英語、またはその他言語による翻訳文が作成された場合でも、日本語の正文のみが契約としての効力を有するものとし、英訳文、またはその他言語翻訳文はいかなる効力も有しないものとします.
 準拠法及び裁判管轄
  本規約は、日本法に基づき解釈されるものとし、ユーザーと弊社の間で生じた紛争については、その内容に応じて弊社の本店所在地を管轄する裁判所を専属的合意管轄裁判所とします.

 2025年4月7日制定</pre>
    </div>
</body>
</html>
